#### Задание 1

In [59]:
import numpy as np
a = np.array([[1, 2, 3, 3, 1],[6, 8, 11, 10, 7]])
a = a.transpose()
print(a)
mean_a = a.mean(axis = 0)
print("Средние значения строк: {}".format(mean_a))

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
Средние значения строк: [2.  8.4]

#### Задание 2

In [60]:
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

#### Задание 3

In [61]:
a_centered_sp = a_centered.T[0].dot(a_centered.T[1])
print(a_centered_sp)
n = a_centered.shape[0]-1
cov = a_centered_sp / n
print(cov)

8.0
2.0

#### Задание 4

In [62]:
cov_np = np.cov(a_centered.T)[0, 1]
print(cov_np)

2.0

## Pandas

#### Задание 1

In [63]:
import pandas as pd

authors = pd.DataFrame({'author_id':[1, 2, 3], 'author_name':['Тургенев', 'Чехов', 'Островский']})
print(authors)
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     'price':[450, 300, 350, 500, 450, 370, 290]})
print(book)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

#### Задание 2

In [46]:
authors_price = pd.merge(authors, book, how = 'inner', on = 'author_id' )
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

#### Задание 3

In [47]:
top5 = authors_price.nlargest(5, 'price')
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

#### Задание 4

In [64]:
authors_price.loc[authors_price["price"].notnull(), "min_price"] = authors_price["price"]
authors_price.loc[authors_price["price"].notnull(), "max_price"] = authors_price["price"]
authors_price.loc[authors_price["price"].notnull(), "mean_price"] = authors_price["price"]

authors_stat = authors_price.groupby("author_name")
authors_stat.agg({"min_price": "min", "max_price": "max", "mean_price": "mean"})

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000